/* General Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.landing-page {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}

h1, h2 {
  color: #333;
}

p {
  color: #555;
  line-height: 1.6;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh; /* 75% of the viewport height */
  width: 100%; /* Full width */
  text-align: center;
  padding: 4rem 0;
  background: linear-gradient(to bottom right, #f7941d, rgba(247, 148, 29, 0.5));
  color: white;
  position: relative;
}

.hero h1 {
  font-size: 7rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.cta-button {
  background-color: white;
  color: #f7941d;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

.cta-button:hover {
  background-color: #e68316;
  color: white;
}

/* Split Section Styling */
.split-section {
  display: flex;
  align-items: center;
  margin: 4rem 0;
  gap: 2rem;
}

.split-section.reverse {
  flex-direction: row-reverse;
}

.text-content {
  flex: 1;
  padding: 1rem;
}

.text-content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text-content p, .text-content ul {
  font-size: 2rem;
}

.text-content ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.image-content {
  flex: 1;
}

.image-content img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
