.footer {
  background: linear-gradient(to top, #f7941d, rgba(247, 145, 25, 0.5)); /* Orange */
  color: #002060;
  text-align: center;
  padding: 2rem 0;
  font-family: Arial, sans-serif;
  font-size: 1.2rem; /* Increased text size for the entire footer */
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-details {
  width: 80%;
}

.footer-row {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.footer-row p {
  flex: 1; /* Equal column sizes */
  margin: 0;
}

.footer-details .icon {
  font-size: 1.5rem; /* Increase icon size */
  margin-right: 0.5rem;
}

.footer-brand {
  font-size: 1.2rem;
  font-weight: bold;
 
}

.footer-brand .heart {
  color: #002060; /* Heart color */
  font-size: 1.5rem;
}

.social-links {
  text-align: center;
}

.social-links h3 {
  margin-bottom: 0.5rem;
  color: #002060;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icons a {
  font-size: 1.5rem;
  color: #555;
  transition: color 0.3s ease, transform 0.3s ease;
}

.icons a:hover {
  color: #002060;
  transform: scale(1.2);
}

.footer-line {
  width: 80%;
  height: 1px;
  background-color: #ccc;
  margin: 1rem auto;
  transform-origin: left;
}
